{{post-featured-header model=model}}
<div class="article-wrapper">
    <div class="grid-container">
        <div class="article-container grid-block">
            {{post-article model=model}}
            {{post-right-rail}}
        </div>
    </div>
</div>
