<section class="all-stories grid-container grid-block main-wrap ">
    <div class="grid-block wrap list">
        <header class="grid-content">
            <h1>All Top Stories</h1>
            <ul class="channels clearfix">
                <li class="active">
                    <a>All</a>
                </li>
                <li>
                    <a>Games (N/A)</a>
                </li>
                <li>
                    <a>Movies (N/A)</a>
                </li>
                <li>
                    <a>TV (N/A)</a>
                </li>
            </ul>
        </header>
        <div class="grid-block wrap">
            <div class="grid-block wrap posts post-list">
                {{#each model as |post|}}
                    {{post-list-item model=post}}
                {{/each}}
            </div>
            <div class="pagination">
                <span class="previous inactive">&lt;</span>

                <a class="page active">N/A</a>

                <span class="next inactive">&gt;</span>
            </div>
        </div>
    </div>
    <div class="rail"></div>
</section>
